<!--The content below is only a placeholder and can be replaced.-->

<div fxLayoutWrap fxLayoutGap="20px">
  <div fxFlex="25" fxFlex.sm="33.3" fxFlex.xs="50" *ngFor="let sensor of sensors">
    <mat-card>
      <mat-card-title>{{sensor.name}}</mat-card-title>
      <mat-card-subtitle>{{sensor.productId.modelNumber}}</mat-card-subtitle>
      <mat-card-content>
      <ul>
          <li>Type: {{sensor.type}}</li>
          <li>Status: {{sensor.status}}</li>
          <li>Location: No data</li>
      </ul>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions>
          <button class="btn" mat-button matTooltip="{{sensor.productId.hash}}" ngxClipboard [cbContent]="sensor.productId.hash">Copy hash</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
